@model IEnumerable<VpApp.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Список подразделения</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            ФИО
        </th>
@if (HttpContext.Current.User.IsInRole("Администратор"))
{
        <th>
            Логин
        </th>
        <th>
            Пароль
        </th>
}
        <th>
            Отдел
        </th>
        <th>
            Должность
        </th>
        <th>
            Телефоны
        </th>
@if (HttpContext.Current.User.IsInRole("Администратор"))
{
        <th>
            Роль
        </th>
}        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
@if (HttpContext.Current.User.IsInRole("Администратор"))
{
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
}
        <td>
            @Html.DisplayFor(modelItem => item.Department.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefon.Tel)
        </td>
@if (HttpContext.Current.User.IsInRole("Администратор"))
{
        <td>
            @Html.DisplayFor(modelItem => item.Role.Name)
        </td>
}        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
